:root {
  --primary-bright-orange: hsl(31, 77%, 52%);
  --primary-dark-cyan: hsl(184, 100%, 22%);
  --primary-very-dark-cyan: hsl(179, 100%, 13%);
  /*paragraphs*/
  --neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
  /*(background, headings, buttons)*/
  --neutral-very-light-gray: hsl(0, 0%, 95%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
