:root {
  --primary-light-cyan: hsl(193, 38%, 86%);
  --primary-neon-green: hsl(150, 100%, 66%);
  --neutral-grayish-blue: hsl(217, 19%, 38%);
  --neutral-dark-grayish-blue: hsl(217, 19%, 24%);
  --neutral-dark-blue: hsl(218, 23%, 16%);
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--neutral-dark-blue);
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral-dark-grayish-blue);
  width: 36rem;
  height: 22rem;
  padding: 2rem;
  border-radius: 20px;
  position: relative;
}

.advice__title {
  font-size: 0.8125rem;
  color: var(--primary-neon-green);
  text-transform: uppercase;
  margin-top: 1.1rem;
  letter-spacing: 5px;
}

.advice__text {
  font-size: 1.75rem;
  margin-top: 2rem;
  height: 50%;
  color: var(--primary-light-cyan);
  margin-bottom: 1.3rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.btn {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  padding: 1.3rem;
  background-color: var(--primary-neon-green);
  position: absolute;
  bottom: -35px;
  transition: all 0.2s;
}

.btn:hover {
  box-shadow: var(--primary-neon-green) 0 -2px 36px 3px;
  transform: translateY(-4px);
}

.btn:active {
  box-shadow: var(--primary-neon-green) 0 0 30px;
  transform: translateY(-1px);
}

/* Media queries */
@media screen and (max-width: 600px) {
  .container {
    width: 92vw;
  }
}

@media screen and (max-width: 33rem) {
  .container {
    padding: 1rem;
  }

  .advice__text {
    font-size: 1.25rem;
  }
}
