/* Box sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  min-height: 100vh;
}

/* make media easier to work with */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}
