:root {
  --primary-blue-color: hsl(223, 87%, 63%);
  --secondary-pale-blue-color: hsl(223, 100%, 88%);
  --secondary-light-red-color: hsl(354, 100%, 66%);
  --neutral-gray-color: hsl(0, 0%, 59%);
  --neutral-very-dark-blue-color: hsl(209, 33%, 12%);
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.25rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
