:root {
  --primary-soft-blue-color: hsl(215, 51%, 70%);
  --primary-cyan-color: hsl(178, 100%, 50%);

  --neutral-dark-blue-main-color: hsl(217, 54%, 11%);
  --netraul-dark-blue-card-color: hsl(216, 50%, 16%);
  --neutral-ver-dark-blue-line-color: hsl(215, 32%, 27%);
  --neutral-white-color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
